:root {
  --clr-text-PaleViolet-sub-heading-at-the-top-of-the-ap-UI: #d89eff;
  --clr-text-ModerateViolet-chat-on-the-left: #9241c8;
  --clr-text-DesaturatedDarkViolet-chat-on-the-right: #6e5d7e;
  --clr-text-GrayishBlue-placeholder-text: #c6cacd;
  --clr-text-VeryDarkDesaturatedViolet-main-heading: #3e2753;
  --clr-text-DarkGrayishViolet-paragraph: #a39daa;

  --clr-gradient-LightMagenta: #e942ff;
  --clr-gradient-LightViolet: #8838ff;

  --clr-secondary-White: #ffffff;
  --clr-secondary-LightGrayishViolet-app-background: #f5f3f7;
  --clr-secondary-VeryDarkDesaturatedViolet-submit-button-background: #3e2753;
  --clr-secondary-VeryLightMagenta-radio-button-outline: #e570ff;

  --ff-base: Rubik, sans-serif;
  --fw-light: 400;
  --fw-regular: 500;
  --fw-bold: 700;

  --fs-100: 0.5rem;
  --fs-200: 0.6rem;
  --fs-400: 1rem;
  --fs-700: 2rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  height: 100vh;
}

.main-body {
  font-family: var(--ff-base);
  font-weight: var(--fw-light);
  font-size: var(--fs-200);
  width: 100vw;
  background-color: var(--clr-secondary-LightGrayishViolet-app-background);
}

.background-color_1 {
  background: var(--clr-gradient-LightViolet);
  height: 88%;
  max-height: 500px;
  width: 100%;
  border-radius: 0 0 50rem 50rem;
  position: absolute;
  right: 200px;
}

.background-color_2 {
  background: #8838ff0c;
  height: 80vh;
  max-height: 560px;
  width: 50%;
  border-top-left-radius: 50rem;
  position: absolute;
  right: 0;
  top: 438px;
  filter: brightness(300%);
}

.chat-box {
  position: relative;
  z-index: 1;
  border: 10px solid var(--clr-secondary-White);
  background: var(--clr-secondary-LightGrayishViolet-app-background);
  width: 80vw;
  min-width: 240px;
  height: 33.5rem;
  max-width: 256px;
  margin: auto;
  top: 70px;
  border-radius: 40px;
  box-shadow: 10px 40px 40px #a39daa65;
}

.smart-phone_camera-roll {
  background: var(--clr-secondary-White);
  height: 5%;
  width: 60%;
  margin: auto;
  border-radius: 0 0 20px 20px;
  position: relative;
  bottom: 2px;
  z-index: 5;
}

.chat-box__menu {
  background: linear-gradient(
    80deg,
    var(--clr-gradient-LightViolet),
    var(--clr-gradient-LightMagenta)
  );
  width: 100%;
  height: 15%;
  border-radius: 30px 30px 8px 8px;
  position: absolute;
  z-index: 3;
  top: 0;
}

.chat-nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 15%;
  margin: auto;
}

.chat-nav__items {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--clr-secondary-White);
  position: relative;
  top: 50px;
}

.profile-image {
  width: 30px;
  height: 30px;
  border: 1px solid var(--clr-secondary-White);
  border-radius: 50%;
}

.chat-nav__item {
  line-height: 1rem;
}

.chat-nav__item span {
  color: #f0daff;
  font-size: var(--fs-400);
}

.chat-nav__item p {
  font-size: var(--fs-100);
  color: var(--clr-text-PaleViolet-sub-heading-at-the-top-of-the-ap-UI);
}

.option-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  top: 40px;
}

.option-button {
  height: 4px;
  color: var(--clr-secondary-LightGrayishViolet-app-background);
}

.chat-box__body {
  margin: 0 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-start: 4rem;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dog-walker__message {
  background: #d1b1e663;
  color: var(--clr-text-ModerateViolet-chat-on-the-left);
  width: 62%;
  border-radius: 10px 10px 10px 0;
  padding: 0.3rem;
}

.dog-images {
  display: flex;
  gap: 0.5rem;
}

.dog-images img {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.client-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.client-message {
  background: var(--clr-secondary-White);
  color: var(--clr-text-DesaturatedDarkViolet-chat-on-the-right);
  width: 52%;
  padding: 0.3rem;
  border-radius: 10px 10px 0 10px;
}

.client-message-2 {
  width: max-content;
  padding: 0.3rem 0.4rem;
}

.prizes {
  background: linear-gradient(
    -90deg,
    var(--clr-gradient-LightViolet),
    var(--clr-gradient-LightMagenta)
  );
  width: 75%;
  padding: 0.5rem;
  border-radius: 10px 10px 10px 0;
  display: flex;
  justify-content: space-between;
}

.walks {
  display: flex;
  align-items: center;
  gap: 8px;
}

.walks span {
  color: var(--clr-secondary-LightGrayishViolet-app-background);
  font-size: var(--fs-200);
}

#circle {
  appearance: none;
  height: 0.95rem;
  width: 0.95rem;
  background: transparent;
  border: 1px solid var(--clr-secondary-VeryLightMagenta-radio-button-outline);
  border-radius: 50%;
  vertical-align: middle;
}

.prize-tag {
  color: var(--clr-secondary-White);
  font-size: var(--fs-400);
}

.text-area {
  background: var(--clr-secondary-White);
  border-radius: 50px;
  height: 10%;
  padding: 0.3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.type-bar {
  font-size: var(--fs-200);
  margin-left: 20px;
  color: var(--clr-text-GrayishBlue-placeholder-text);
}

.send-icon_div {
  font-weight: var(--fw-bold);
  font-size: var(--fs-400);
  background: var(
    --clr-secondary-VeryDarkDesaturatedViolet-submit-button-background
  );
  color: var(--clr-secondary-White);
  border-radius: 50px;
  padding: 0.38rem 0.6rem;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header {
  margin-block-start: 8.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.main-header h2 {
  font-size: var(--fs-700);
  color: var(--clr-text-VeryDarkDesaturatedViolet-main-heading);
}

.main-header p {
  line-height: 1.5rem;
  font-size: var(--fs-400);
  color: var(--clr-text-DarkGrayishViolet-paragraph);
  width: 18.8rem;
  margin: auto;
  margin-block-end: 5.5rem;
  text-align: center;
}

@media (min-width: 600px) {
  .background-color_1 {
    height: 90%;
    width: 70%;
    right: 380px;
  }

  .background-color_2 {
    height: 100%;
    width: 70%;
    border-radius: 50rem 50rem 0 0;
    top: 500px;
    left: 450px;
  }
}

@media (min-width: 900px) {
  .background-color_1 {
    height: 90%;
    width: 70%;
    right: 500px;
  }

  .background-color_2 {
    height: 100%;
    width: 70%;
    border-radius: 50rem 50rem 0 0;
    top: 500px;
    left: 550px;
  }
}

@media (min-width: 1200px) {
  body {
    overflow: hidden;
  }

  .main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 100vh;
    width: 100vw;
  }

  .background-color_1 {
    height: 90%;
    max-height: 700px;
    width: 35vw;
    right: 1000px;
  }

  .background-color_2 {
    height: 100%;
    max-height: 700px;
    width: 35%;
    border-radius: 50rem 50rem 0 0;
    top: 100px;
    left: 1050px;
  overflow: hidden;

  }

  .chat-box {
    margin: 0;
    min-width: 240px;
    max-width: 280px;
    min-height: 470px;
    top: 0px;
  }

  .main-header {
    margin: 0;
    width: 30vw;
    align-items: flex-start;
  }

  .main-header p {
    margin: 0;
    width: 31.5vw;
    text-align: start;
  }
}
